{
    "username": "paultursuru",
    "repositories": [
        {
            "name": "paultursuru/gitbar",
            "default_branch": "main"
        },
        {
            "name": "other/repo",
            "default_branch": "master"
        }
    ]
}