{
    "repositories": [
        {
            "name": "paultursuru/gitbar",
            "default_branch": "main",
            "local_path": "~/paultursuru/gitbar"
        },
        {
            "name": "some/other/repo",
            "default_branch": "master",
            "local_path": "~/path/to/some/other/repo"
        }
    ]
}